# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/
*.so
*.log
*.sqlite3
*.db
*.dat
*.csv
*.tsv
*.tmp
*.bak
*.swp
*.swo
*.ipynb_checkpoints/
.env
.venv
venv/
ENV/
.envrc

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Images
*.png
*.jpg
*.jpeg
*.svg

# Other
*.tar.gz
*.zip
*.rar
*.7z
*.gz
*.bz2
*.xz
*.tgz
*.tar

# Test outputs
htmlcov/
.coverage
.tox/
.nox/
.cache/
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json

# Pyre
.pyre/

# Cython
cython_debug/
